$theme_color : #ffb9c8;

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: $theme_color;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{   
    background: $theme_color;
}
#sakura
{
    background-image: url('../img/sakura2in2.jpg'), linear-gradient(#D0E5F3, #B7D7EC);
    .ml16
    {
        i
        {
            color: $theme_color;
        }
    }
}

.flip-content-back
{
    background-image: url('../img/sakura2in2.jpg'), linear-gradient(#D0E5F3, #B7D7EC);
    background-size: cover;
    background-position: center center;
    
    ul
    {
        li
        {
            &:hover
            {
                background: rgba($theme_color, 0.8);
            }
        }
    }
}



.contact-me
{
    background-image: url("../img/sakura2.jpg");
    border-top: 10px solid $theme_color;
    border-bottom: 10px solid $theme_color;
    button
    {
        background-color: $theme_color;
    }
}
footer
{
    .footer-dark
    {
        ul
        {
            li
            {
                &::after
                {
                    color: $theme_color;
                }
            }
        }
    }
}

.modal-footer
{
    .btn
    {
        background-color: $theme_color;
    }
}

#the_waves
{
    display: none;
}

@media (max-width: 662px) 
{
    #sakura
    {
        background-image: url('../img/sakura2_flipped.jpg'), linear-gradient(#D0E5F3, #B7D7EC);
    }
}