@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,600;0,700;1,400&family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main_container {
  height: 100dvh;
  transition: height 0.5s ease;

  & > * {
    box-sizing: border-box;
  }
}
html::-webkit-scrollbar,
#main_container::-webkit-scrollbar {
  display: none;
}

.section_2,
.section_3,
.section_4,
#nav {
  font-family: 'Josefin Slab', serif;
}

/* Global heading styles */
h1 {
  font-size: 4vw;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Josefin Slab', serif;
}

/* Global section padding */
section {
  padding: 100px 20px 60px;
}

@media screen and (max-width: 1299px) {
  h1 {
    font-size: calc(25px + 6vw);
  }
}
