@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,600;0,700;1,400&family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main_container {
  height: 100dvh;
  transition: height 0.5s ease;

  & > * {
    box-sizing: border-box;
  }
}
html::-webkit-scrollbar,
#main_container::-webkit-scrollbar {
  display: none;
}

.falling-leaves,
.about-modal-box,
.modal_box {
  font-family: 'Yatra One', cursive;
}

.section_2,
.section_3,
.section_4,
#nav {
  font-family: 'Josefin Slab', serif;
}
