@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yatra One', cursive;
}
#main_container {
  height: 100vh;

  & > * {
    box-sizing: border-box;
  }
}
html::-webkit-scrollbar,
#main_container::-webkit-scrollbar {
  display: none;
}
