.section_2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .boxes {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 7%;
  }

  .boxes.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
    height: 100vh;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(450px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .left-box {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    h4 {
      color: #fff;
      font-size: 4rem;
      padding-bottom: 10px;
    }
    .img-container {
      display: flex;
      justify-content: space-around;
      img {
        width: 8rem;
        padding-bottom: 10px;
      }
      .uw_title {
        width: 10rem;
      }
    }
  }
  .right-box {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container {
      padding-bottom: 20px;
      display: flex;
      .img_certificate {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.5s;
        padding: 10px;
        .smallLogo {
          width: 50px;
        }
        .certificate {
          min-width: 100px;
          box-shadow: 0px 0px 19px -2px rgb(0, 0, 0);
          max-width: 500px;
          width: 100%;
          -webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 1);
          -moz-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 1);
          box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 1);
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  #ed_img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
@media screen and (max-width: 1024px) {
  .section_2 {
    .boxes {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
    }
    #ed_img {
      width: auto;
    }
  }
}
@media screen and (max-width: 460px) {
  .section_2 {
    .boxes {
      justify-content: space-between;
      .left-box {
        padding: 40px 0 0 0;
        h4 {
          font-size: 15vw;
          margin: auto;
        }
        .img-container {
          display: none;
        }
      }
      .right-box {
        padding-bottom: 40px;
        .img-container {
          flex-direction: column;
        }
      }
    }
    #ed_img {
      left: -150%;
      width: auto;
    }
  }
}
