.section_2 {
  display: flex;
  flex-direction: column;
  #ed_img {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    z-index: -1;
  }
  .boxes {
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 300px 0 100px 0;
    .left-box {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      h1 {
        color: #fff;
        font-size: 4vw;
        margin: 0;
        padding: 0;
      }

      .img-container {
        display: flex;
        border-top: 1px solid #b1b1b1cb;
        padding-top: 20px;
        img {
          width: 7vw;
        }
        .uw_title {
          margin-left: 2vw;
          width: 9vw;
        }
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-container {
        display: flex;
        gap: 20px;
        a {
          display: flex;
          flex-direction: column;
          transition: transform 0.5s ease;
          margin-bottom: 20px;
          .smallLogo {
            width: 40px;
            margin: auto;
          }
          .certificate {
            box-shadow: 0 0 19px -2px #000;
            width: 15vw;
            min-width: 300px;
          }
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .boxes.active,
  .skillsbox.active {
    opacity: 1;
  }
  .skillsbox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    padding-bottom: 300px;
    opacity: 0;
    h1 {
      margin: 0 auto;
      color: #fff;
      font-size: 4vw;
      padding-top: 100px;
    }
    .main-skills,
    .other-skills {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      border-top: 1px solid #b1b1b1cb;
      padding-top: 20px;
      width: 100%;
      max-width: 885px;

      .skill-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 75px;
          height: 75px;
        }
        p {
          color: #fff;
          margin-top: 10px;
        }
      }
    }
  }
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
  transition: height 1s ease;
}
@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1299px) {
  .section_2 {
    .boxes {
      flex-direction: column;
      .left-box {
        width: auto;
        margin: 0 auto 40px;
        h1 {
          font-size: calc(25px + 6vw);
          margin: 0 auto;
        }

        .img-container {
          justify-content: space-around;
          img {
            width: 150px;
          }
          .uw_title {
            margin-left: 0;
            width: 175px;
          }
        }
      }
    }
    .skillsbox {
      h1 {
        font-size: calc(25px + 6vw);
      }
    }
  }
}
@media screen and (max-width: 952px) {
  .section_2 {
    display: flex;
    flex-direction: column;
    .boxes {
      padding: 300px 0 100px 0;
      .right-box {
        .img-container {
          flex-direction: column;
          a {
            .certificate {
              box-shadow: 0 0 19px -2px #000;
              width: 80%;
              min-width: 300px;
              margin: auto;
              max-width: 700px;
            }
            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 330px) {
  .section_2 {
    .boxes {
      .left-box {
        .img-container {
          flex-direction: column;
          gap: 20px;
          align-items: center;
        }
      }
      .right-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-container {
          display: flex;
          gap: 20px;
          a {
            .certificate {
              width: 80%;
              min-width: 150px;
            }
          }
        }
      }
    }
    .skillsbox {
      h1 {
        text-align: center;
      }
    }
  }
}
