footer {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
  position: relative;
  width: 100%;
  nav {
    background: rgb(1, 4, 5);
    .navbar-brand {
      color: #fff;
    }
    .nav-item {
      color: #fff;
      a {
        color: #fff;
      }
      svg {
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  footer {
    display: none;
  }
}
