audio {
  display: none;
}
#nav {
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  background: rgba(#2e2a2a, 0.15);
}
nav {
  font-size: 2dvh;

  .navbar-brand {
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 2.5dvh;
    justify-content: center;
    text-transform: uppercase;
    transition: ease all 0.5s;
    &:hover {
      color: #6e6d6d;
      transition: ease all 0.2s;
    }
  }
  .nav-item {
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    cursor: pointer;
    &:hover {
      color: #6e6d6d;
      transition: ease all 0.2s;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #6e6d6d;
        transition: ease all 0.2s;
      }
    }
    svg {
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #6e6d6d;
        transition: ease all 0.2s;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #nav {
  }
}
