.section_4 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  span {
    color: #fff;
    font-size: 80px;
  }
  .all_projects {
    display: flex;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
    &::-webkit-scrollbar {
      display: none;
    }
    .project_block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding: 20px;
      cursor: pointer;
      color: #fff;
      text-align: center;
      width: 100%;
      max-width: 600px;

      &:hover {
        transition: ease transform 0.3s;
        transform: scale(1.1);
      }
      .project_img {
        width: 100%;
        margin: auto;
      }
    }
    .new_project,
    .favorite_project,
    .recent_project {
      position: relative;
      border-radius: 10px;
      .new_img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        z-index: 999;
        img {
          width: 100%;
        }
      }
    }
  }
  .bottom-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    .bottom_text {
      font-size: 40px;
      color: #fff;
      margin: 0;
    }
    .bottom_buttons {
      display: flex;
      gap: 20px;
    }
  }
}
.languages {
  width: 100%;
  margin-top: 30px;
  span {
    display: block;
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.2em;
  }
  .skill-bar {
    height: 20px;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    div {
      height: inherit;
      border-right: 1px solid #e1e1e1;
      &:first-child {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
      &:last-child {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: none;
      }
    }
    .py {
      background-color: #3572a5;
    }
    .html {
      background-color: #e34c26;
    }
    .css {
      background-color: #563d7c;
    }
    .scss {
      background-color: #c6538c;
    }
    .js {
      background-color: #f1e05a;
    }
    .vue {
      background-color: #41b883;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      display: flex;
      align-items: center;
      list-style: none;
      margin-right: 10px;
      font-weight: bold;
      div {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 10px;
      }
      .py {
        background-color: #3572a5;
      }
      .html {
        background-color: #e34c26;
      }
      .scss {
        background-color: #c6538c;
      }
      .css {
        background-color: #563d7c;
      }
      .js {
        background-color: #f1e05a;
      }
      .vue {
        background-color: #41b883;
      }
    }
  }
}
.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  width: 90%;
  height: auto;
  color: #fff;
  background: #2e2a2a;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 19px -2px rgba(0, 0, 0, 1);
  .box_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left_box {
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }
    .right_box {
      margin-left: 20px;
      .project_links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: flex;
          gap: 20px;
          padding: 0 10px;
          li {
            list-style-type: none;
            a {
              text-decoration: none;
              display: block;
              color: #fff;
              padding: 10px 40px;
              border-radius: 12px;
              border: 1px solid #fff;
              transition: all 0.1s ease;
              width: 180px;
            }
            .GitHub {
              background: rgb(36, 41, 45);
              &:hover {
                background: rgb(10, 11, 12);
              }
            }
            .Website {
              background: rgb(34, 76, 110);
              &:hover {
                background: rgb(19, 42, 61);
              }
            }
            .YouTube {
              background: rgb(192, 27, 30);
              &:hover {
                background: rgb(117, 16, 18);
              }
            }
          }
        }
      }
    }
  }

  .new_img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    z-index: 999;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .section_4 {
    .all_projects {
      justify-content: flex-start;
    }
  }
  .modal_box {
    padding: 30px;
    .box_content {
      flex-direction: column;
      gap: 30px;
      width: 100%;

      .left_box {
        img {
          max-width: 600px;
        }
      }
      .right_box {
        margin-left: 0px;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 660px) {
  .modal_box {
    height: 95vh;
    overflow-y: scroll;
    justify-content: flex-start;
    .box_content {
      .right_box {
        .project_links {
          ul {
            flex-direction: column;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 522px) {
  .section_4 {
    span {
      font-size: 13vw;
    }
    .all_projects {
      .new_project,
      .favorite_project,
      .recent_project {
        position: relative;
        border-radius: 10px;
        .new_img {
          width: 75px;
        }
      }
    }
  }
  .languages {
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media screen and (max-width: 366px) {
  .section_4 {
    .bottom-section {
      .bottom_text {
        font-size: 10vw;
      }
    }
  }
  .modal_box {
    .new_img {
      display: none;
    }
    .box_content {
      .left_box {
        display: none;
      }
      .right_box {
        .project_links {
          ul {
            flex-direction: column;
          }
        }
      }
    }
  }
}
