.relative {
  position: relative;
  height: 100vh;
  width: 100%;
  .rocks {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .leaf-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background: url('../../assets/sakura_petal.png') no-repeat;
      background-size: 100%;
      transform-style: preserve-3d;
      backface-visibility: visible;
    }
  }
}
