.section_2 {
  display: flex;
  flex-direction: column;
}
.section_2 #ed_img {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  z-index: -1;
}
.section_2 .boxes {
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 300px 0 100px 0;
}
.section_2 .boxes .left-box {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.section_2 .boxes .left-box h1 {
  color: #fff;
  font-size: 4vw;
  margin: 0;
  padding: 0;
}
.section_2 .boxes .left-box .img-container {
  display: flex;
  border-top: 1px solid rgba(177, 177, 177, 0.7960784314);
  padding-top: 20px;
}
.section_2 .boxes .left-box .img-container img {
  width: 7vw;
}
.section_2 .boxes .left-box .img-container .uw_title {
  margin-left: 2vw;
  width: 9vw;
}
.section_2 .boxes .right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_2 .boxes .right-box .img-container {
  display: flex;
  gap: 20px;
}
.section_2 .boxes .right-box .img-container a {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  margin-bottom: 20px;
}
.section_2 .boxes .right-box .img-container a .smallLogo {
  width: 40px;
  margin: auto;
}
.section_2 .boxes .right-box .img-container a .certificate {
  box-shadow: 0 0 19px -2px #000;
  width: 15vw;
  min-width: 300px;
}
.section_2 .boxes .right-box .img-container a:hover {
  transform: scale(1.2);
}
.section_2 .boxes .right-box .button-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 100%;
}
.section_2 .boxes .right-box .button-section .button-orange {
  max-width: 300px;
  width: 95%;
}
.section_2 .boxes.active,
.section_2 .skillsbox.active {
  opacity: 1;
}
.section_2 .skillsbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  padding-bottom: 150px;
  opacity: 0;
}
.section_2 .skillsbox h1 {
  margin: 0 auto;
  color: #fff;
  font-size: 4vw;
  padding-top: 100px;
  text-align: center;
}
.section_2 .skillsbox .main-skills,
.section_2 .skillsbox .other-skills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  border-top: 1px solid rgba(177, 177, 177, 0.7960784314);
  padding-top: 20px;
  width: 100%;
  max-width: 885px;
}
.section_2 .skillsbox .main-skills .skill-box,
.section_2 .skillsbox .other-skills .skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.section_2 .skillsbox .main-skills .skill-box img,
.section_2 .skillsbox .other-skills .skill-box img {
  width: 75px;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
.section_2 .skillsbox .main-skills .skill-box p,
.section_2 .skillsbox .other-skills .skill-box p {
  color: #fff;
  margin-top: 10px;
}
.section_2 .skillsbox .main-skills .skill-box:hover,
.section_2 .skillsbox .other-skills .skill-box:hover {
  transform: scale(1.3);
}
.section_2 .bottom-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.section_2 .bottom-section .bottom_text {
  font-size: 40px;
  color: #fff;
  margin: 0;
}
.section_2 .bottom-section .bottom_buttons {
  padding-top: 20px;
  border-top: 1px solid rgba(177, 177, 177, 0.7960784314);
  display: flex;
  gap: 20px;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
  transition: height 1s ease;
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1299px) {
  .section_2 .boxes {
    flex-direction: column;
  }
  .section_2 .boxes .left-box {
    width: auto;
    margin: 0 auto 40px;
  }
  .section_2 .boxes .left-box h1 {
    font-size: calc(25px + 6vw);
    margin: 0 auto;
  }
  .section_2 .boxes .left-box .img-container {
    justify-content: space-around;
  }
  .section_2 .boxes .left-box .img-container img {
    width: 150px;
  }
  .section_2 .boxes .left-box .img-container .uw_title {
    margin-left: 0;
    width: 175px;
  }
  .section_2 .skillsbox h1 {
    font-size: calc(25px + 6vw);
  }
}
@media screen and (max-width: 952px) {
  .section_2 {
    display: flex;
    flex-direction: column;
  }
  .section_2 .boxes {
    padding: 300px 0 100px 0;
  }
  .section_2 .boxes .right-box .img-container {
    flex-direction: column;
  }
  .section_2 .boxes .right-box .img-container a .certificate {
    box-shadow: 0 0 19px -2px #000;
    width: 80%;
    min-width: 300px;
    margin: auto;
    max-width: 700px;
  }
  .section_2 .boxes .right-box .img-container a:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 522px) {
  .bottom-section .bottom_buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 330px) {
  .section_2 .boxes .left-box .img-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .section_2 .boxes .right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_2 .boxes .right-box .img-container {
    display: flex;
    gap: 20px;
  }
  .section_2 .boxes .right-box .img-container a .certificate {
    width: 80%;
    min-width: 150px;
  }
  .section_2 .skillsbox h1 {
    text-align: center;
  }
  .section_2 .bottom-section .bottom_text {
    font-size: 10vw;
  }
}
@media screen and (max-width: 288px) {
  .section_2 .bottom-section .bottom_buttons {
    flex-direction: column;
  }
}/*# sourceMappingURL=education.css.map */