.section_2 {
  display: flex;
  flex-direction: column;
}
.section_2 #ed_img {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  z-index: -1;
}
.section_2 .boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section_2 .boxes .left-box {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.section_2 .boxes .left-box .img-container {
  display: flex;
  background: linear-gradient(to right, rgba(215, 48, 48, 0.44), rgba(255, 255, 255, 0.719));
  padding: 20px 10px;
  border-radius: 13px;
}
.section_2 .boxes .left-box .img-container img {
  width: 7vw;
}
.section_2 .boxes .left-box .img-container .uw_title {
  margin-left: 2vw;
  width: 9vw;
}
.section_2 .boxes .right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_2 .boxes .right-box .img-container {
  display: flex;
  gap: 20px;
}
.section_2 .boxes .right-box .img-container a {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  margin-bottom: 20px;
}
.section_2 .boxes .right-box .img-container a .smallLogo {
  width: 40px;
  margin: auto;
}
.section_2 .boxes .right-box .img-container a .certificate {
  box-shadow: 0 0 19px -2px #000;
  width: 15vw;
  min-width: 300px;
}
.section_2 .boxes .right-box .img-container a:hover {
  transform: scale(1.2);
}
.section_2 .boxes .right-box .button-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 100%;
}
.section_2 .boxes .right-box .button-section .button-main {
  max-width: 300px;
  width: 95%;
}
.section_2 .boxes.fade-bottom .fade-target {
  opacity: 0;
}
.section_2 .boxes.active.fade-bottom .fade-target {
  opacity: 1;
  animation: fade-bottom 600ms ease-in;
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1299px) {
  .section_2 .boxes {
    flex-direction: column;
  }
  .section_2 .boxes .left-box {
    width: auto;
    margin: 0 auto 40px;
  }
  .section_2 .boxes .left-box .img-container {
    justify-content: space-around;
  }
  .section_2 .boxes .left-box .img-container img {
    width: 150px;
  }
  .section_2 .boxes .left-box .img-container .uw_title {
    margin-left: 0;
    width: 175px;
  }
}
@media screen and (max-width: 952px) {
  .section_2 {
    display: flex;
    flex-direction: column;
  }
  .section_2 .boxes {
    padding: 300px 0 100px 0;
  }
  .section_2 .boxes .right-box .img-container {
    flex-direction: column;
  }
  .section_2 .boxes .right-box .img-container a .certificate {
    box-shadow: 0 0 19px -2px #000;
    width: 80%;
    min-width: 300px;
    margin: auto;
    max-width: 700px;
  }
  .section_2 .boxes .right-box .img-container a:hover {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 330px) {
  .section_2 .boxes .left-box .img-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .section_2 .boxes .right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_2 .boxes .right-box .img-container {
    display: flex;
    gap: 20px;
  }
  .section_2 .boxes .right-box .img-container a .certificate {
    width: 80%;
    min-width: 150px;
  }
}/*# sourceMappingURL=education.css.map */